<br>
<div class='card col-4 offset-4 shadow-sm p-3 mb-5 bg-body rounded'>
    <div class='card-body'>
        <form [formGroup]='loginForm'
              (ngSubmit)='onLogin()'
              class='justify-content-center text-center'
              novalidate>
            <h1 class='h3 mb-3 fw-normal'>Please Login In</h1>
        
            <div class='form-group'>
                <div class='col'>
                    <label for='email'
                           class='input-label'>Email Address</label>
                </div>
                <div class='col'>
                    <input name='email'
                           type='email'
                           formControlName='email'
                           class='input-field' 
                           placeholder='Email Address' />
                </div>
            </div>
        
            <div class='form-group'>
                <div class='col'>
                    <label for='password'
                           class='input-label'>Password</label>
                </div>
                <div class='col'>
                    <input name='password'
                           type='password'
                           formControlName='password'
                           class='input-field' 
                           placeholder='Password' />
                </div>
            </div>
        
            <div class='form-group'>
                <div class='col text-center'>
                    <button class='btn btn-block btn-primary'
                            type='submit'
                            [disabled]='!loginForm.valid'>
                        Login
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>