* { box-sizing: border-box; }

.input-container {
    display: flex;
    width: 100%;
}

.btn {
    border-radius: 0;
    border-color: black;
    border-style: solid;
    border-width: 0.1em 0.1em 0.1em 0.1em;
}

.input-field {
    text-align: center;
    
    width: 100%;
    width: 100%;

    border-color: black;
    border-style: solid;
    border-width: 0.1em;
}

.input:focus::placeholder {
    color: transparent;
}