<br>
<div class='container-fluid'>
    <div class='row'>
        <div class='card'>
            <div class='card-header text-center'>
                <h3>Filter</h3>
            </div>
            <div class='card-body'>
                <form [formGroup]='transactionFilters'
                      (ngSubmit)='onUpdate()'
                      novalidate>

                    <div class='form-group row'>
                        <div class='col-3'>
                            <label for='typeId'>Type</label>
                        </div>
                        <div class='col-9 input-container'>
                            <select id='typeId'
                                    class='form-select input-field'
                                    formControlName='type'
                                    aria-label='Any'>
                                <option value='Any'>Any</option>
                                <option value='Buy'>Buy</option>
                                <option value='Sell'>Sell</option>
                            </select>
                        </div>
                    </div>

                    <div class='form-group row'>
                        <div class='col-3'>
                            <label for='orderById'>Order</label>
                        </div>
                        <div class='col-9 input-container'>
                            <button class='btn btn-check btn-secondary'
                                    (click)='reverseDirection()'>
                                <fa-icon [icon]='["fas", "sort-amount-down"]'
                                         class='icon'
                                         *ngIf='sortDirection == "desc"'></fa-icon>
                                <fa-icon [icon]='["fas", "sort-amount-up"]'
                                         class='icon'
                                         *ngIf='sortDirection == "asc"'></fa-icon>
                            </button>
                            <select id='orderById'
                                    class='form-select input-field'
                                    formControlName='orderBy'
                                    aria-label='DateTime'>
                                <option value='DateTime'>DateTime</option>
                                <option value='Symbol'>Symbol</option>
                                <option value='Quantity'>Quantity</option>
                                <option value='Notional'>Notional</option>
                            </select>
                        </div>
                    </div>

                    <div formGroupName='dateRange'>
                        <div class='form-group row'>
                            <div class='col-3'>
                                <label for='startRangeId'>Start</label>
                            </div>
                            <div class='col-9'>
                                <ngbd-datepicker-popup id='startRangeId'
                                                        formControlName='start'>
                                </ngbd-datepicker-popup>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <div class='col-3'>
                                <label for='endRangeId'>End</label>
                            </div>
                            <div class='col-9'>
                                <ngbd-datepicker-popup id='endRangeId'
                                                        formControlName='end'>
                                </ngbd-datepicker-popup>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <div class='text-center'>
                            <button class='btn btn-primary'
                                    type='submit'
                                    [disabled]='!transactionFilters.valid'>
                                Update
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class='col-9'>
            <div>
                <display-table [transactions]='transactions'></display-table>
            </div>
            <div>
                <ngb-pagination [(page)]='pageNumber'
                                [collectionSize]='pageCount'
                                [boundaryLinks]='true'
                                (pageChange)='onPageChange(pageNumber)'>
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>