<br>
<div class='container-fluid col-5 offset-3.5'>
    <div class='card'>
        <div class='card-header text-center'>Add Transaction</div>
        <div class='card-body'>
            <form [formGroup]='transactionForm'
                    (ngSubmit)='onSubmit()'
                    novalidate>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='dateId'>Date</label>
                    </div>
                    <div class='col-8'>
                        <ngbd-datepicker-popup id='dateId'
                                                formControlName='date'>
                        </ngbd-datepicker-popup>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='timeId'>Time</label>
                    </div>
                    <div class='col-8'>
                        <ngb-timepicker id='timeId'
                                        formControlName='time'>
                        </ngb-timepicker>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='symbolId'>Symbol</label>
                    </div>
                    <div class='col-8'>
                        <input id='symbolId'
                               type='text'
                               class='input-field'
                               formControlName='symbol' />
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='typeId'>Type</label>
                    </div>
                    <div class='col-8'>
                        <select class='form-select'
                                id='typeId'
                                class='input-field'
                                formControlName='type'>
                            <option value='Buy'>Buy</option>
                            <option value='Sell'>Sell</option>
                        </select>
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='quantityId'>Quantity</label>
                    </div>
                    <div class='col-8'>
                        <input class='form-control'
                                id='quantityId'
                                type='number'
                                class='input-field'
                                formControlName='quantity' />
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='notionalId'>Notional</label>
                    </div>
                    <div class='col-8'>
                        <input class='form-control'
                                id='notionalId'
                                type='number'
                                class='input-field'
                                formControlName='notional' />
                    </div>
                </div>

                <div class='form-group row'>
                    <div class='col-4'>
                        <label for='tradePriceId'>Trade Price</label>
                    </div>
                    <div class='col-8'>
                        <input class='form-control'
                                id='tradePriceId'
                                type='number'
                                class='input-field'
                                formControlName='tradePrice' />
                    </div>
                </div>

                <div class='form-group'>
                    <div class='text-center'>
                        <button class='btn btn-primary'
                                type='submit'
                                [disabled]='!transactionForm.valid'>
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>