.center { 
    text-align: center 
}

table {
    width: 100%;
    margin: 0;
}

.buy {
    /* color: rgb(0, 196, 0); */
    color: green;
}

.sell {
    /* color: rgb(204, 0, 0); */
    color: crimson;
}