* { box-sizing: border-box; }

.input-container {
    display: flex;
    width: 100%;
}

.btn {
    border-radius: 0.25rem 0 0 0.25rem;
    border-color:  rgba(0,0,0,.125);
    border-style: solid;
    border-width: 0.1rem 0 0.1rem 0.1rem;
}

.btn:focus {
    box-shadow: none;
}

.icon {
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 50px;

    text-align: center;
}

.input-field {
    text-align: center;
    
    width: 100%;

    border-radius: 0 0.25rem 0.25rem 0;
    border-color:  rgba(0,0,0,.125);
    border-style: solid;
    border-width: 0.1rem;
}

